<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

<div class="Pirate">
<h1>Display your Pirate here</h1>
<%= @pirate.name%>
<%= @pirate.weight%>
<%= @pirate.height%>
</div>

<div class="Ship">
<h2>Display your first ship here</h2>
<% @ships.each do |ship| %>
  <%= ship.name%>
  <%= ship.type%>
  <%= ship.booty%>
  <% end %>
</div>

</body>
</html>
